---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// Imports

@import _variables
@import _header
@import _footer
@import _bootstrap-overrides

// Styles
*
    margin: 0
    padding: 0

.page-header
    margin-top: 50px
    background: url("{{ site.baseurl }}/assets/images/mountains.jpg") no-repeat center center fixed
    height: 100vh

#about-me
    background: $lightGray
    
#education
    background: $darkGray
    
#work-experience
    background: $smokeWhite
    
#projects
    background: $tan
    
#contact
    background: $darkGreen