<!-- Contact Me Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="text-muted">Jerrid Schilling</h3>
                <h3 class="text-muted">Software Engineer</h3>
                <h3 class="text-muted">Fort Collins, CO</h3>
                <h3 class="text-muted resize-link"><a href="mailto:jerrid.schilling@outlook.com">jerrid.schilling@outlook.com</a></h3>
                <br>
                <h3 class="text-muted">Or click one of the social media links to get in touch with me...</h3>
            </div>
        </div>
    </div>
</section>
