<!-- Work Experience Section -->
    <section id="work-experience" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/apollo.png" alt="The logo for Apollo Enterprise Imaging, Corp.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov. 2018-Present</h4>
                                    <h4 class="subheading">Apollo Enterprise Imaging - Fort Collins, CO</h4>
                                    <h4 class="subheading">Mobile Application Software Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked on a variety of projects in the medical imaging field, mostly front end development utilizing Angular, SASS, and HTML. For the mobile projects, I utillize Cordova and Ionic frameworks to meet the requirements of the Product and Sales teams. I have also taken the initiative to be the lead of testing with the Test Rail application.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/encompasslogo.jpg" alt="The logo for Encompass Technologies.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec. 2016-Nov. 2018</h4>
                                    <h4 class="subheading">Encompass Technologies - Fort Collins, CO</h4>
                                    <h4 class="subheading">Software Developer/EDI Analyst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Software Developer, I worked on the Invoicing Team fixing bugs, writing and testing new features, and helping plan for upcoming releases. Within 6 months, I transitioned into a newly created EDI Analyst position to work on setting up EDI connections between our customers and their trading partners. I work daily on testing maps, setting up and testing connections, and working with customers to ensure the data interchange operates smoothly.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/brightbeanlogo.jpg" alt="The logo for BrightBean, LLC.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep. 2016-Jan. 2017</h4>
                                    <h4 class="subheading">BrightBean, LLC - Denver, CO</h4>
                                    <h4 class="subheading">Remote Software Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Began working as a remote developer, working on a variety of projects ranging from WordPress to ASP.NET MVC applications. Developing these projects on Windows and Linux, all work is tested in a multitude of browsers to ensure compatibility. I quickly gained a better understanding of development with WordPress as well as ASP.NET MVC.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/hfclogo.jpg" alt="The logo for HollyFrontier Corp.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun. 2015-Aug. 2016</h4>
                                    <h4 class="subheading">HollyFrontier Corp - Cheyenne, WY</h4>
                                    <h4 class="subheading">IT/Software Engineer Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hired as an intern to develop a better way to view metrics and overall efficiency of the maintenance department within the Cheyenne Refinery plant and to work with the IT department on day to day tasks including setup of new workstations, troubleshooting equipment, and maintaining existing equipment.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/acehardwarelogo.jpg" alt="The logo for Ace Hardware.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar. 2014-May 2015</h4>
                                    <h4 class="subheading">Ace Hardware - Laramie, WY</h4>
                                    <h4 class="subheading">Floor Manager</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started as a Cashier and within 5 months was promoted to Floor Manager. Gained valuable experience with teamwork and leadership. Taught the employees new skills and services and learned many new technical and problem solving skills.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/archcoallogo.jpg" alt="The logo for Arch Coal, Inc.">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2013, Summer 2012</h4>
                                    <h4 class="subheading">Arch Coal, Inc. - Wright, WY</h4>
                                    <h4 class="subheading">Electrical Engineering Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">First summer was spent developing a solar powered bus stop for equipment operators. Second summer was spent upgrading the overstock parts building and checkout system for easier use by the electricians.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
