.resume-cta {
    border-radius: 3px;
    background-color: #fed136;
}

#education {
    background-color: #222;
    background-image: url({{ site.baseurl }}/img/graduation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#education .section-heading {
    color: #fff;
}

@media only screen and (max-width: 530px) {
    .resize-link {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .resize-link {
        font-size: 16px;
    }
}